@import 'https://fonts.googleapis.com/css?family=Open+Sans';
* {
    box-sizing: border-box;
}

body {
    background: darkgray;
    font-size: 10px;
    font-family: sans-serif;
    margin: 0;
}

.main-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.main-form {
    position: absolute;
    border: 1px solid grey;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.main-form input {
    display: block;
}


.container {
    background: grey;
}

.titulo {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    text-align: center;
    background: dodgerblue;
    color: white;
    width: 5em;
    padding: 1%;
    font-family: sans-serif;
    font-size: 3em;
    border-radius: 4px;
}

.main-form .input-text {
    margin-bottom: 0.33em;
    height: 2.33em;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid dodgerblue;
}
.main-form .submit-button {
    background: dodgerblue;
    border-radius: 4px;
    border: 1px solid dodgerblue;
    height: 2.75em;
    font-size: 1.5em;
    color: white;
}

.main-form .submit-button:hover{
  background: royalblue;
}

.main-nav a:hover {
  background: #DDDDDD;
}

.main-nav a {
  background: #EEEEEE;
  color: grey;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  border: 1px solid black;
}

.olvide-password {
  display: block;
  width: 66%;
  margin: auto;
  margin-top: 1em;

}

.olvide-password a {
  font-size: 1.10em;
  text-decoration: none;
  color: black;
}

.olvide-password a:hover {
  color: grey;
}

@media (max-width: 769px) {
    .main-nav li {
        display: block;
    }
    .main-form input {
        margin: auto;
    }
    .main-form {
        padding: 15%;
        padding-top: 7.5%;
        padding-bottom: 7.5%;
        width: 80%;
    }

    .main-section{
      position: relative;
    }

    .main-nav {
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      overflow: hidden;
      transform: translate(-50%, -100%);
      width: 100%;
    }

    .main-nav a {
      float: left;
      width: 50%;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
}

@media (max-height: 390px) {

  .titulo{
    top: 0;
    margin-top: 2%;
  }
}

@media (min-width: 769px) {

    .links-holder {
      margin: auto;
      width: 50%;
      overflow: hidden;
      align-content: center;
      box-shadow: 0px 0px 10px 0px;
    }


    .main-nav a {
      display: inline-block;
      width: 25%;
      float: left;
      padding: 1.5em;
      text-align: center;
      text-decoration: none;
      font-weight: bolder;
      border: 1px solid black;
      display: inline-block;
    }

    .main-nav {
      overflow: hidden;
      width: 100%;
    }

    .container {
        overflow: hidden;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-nav ul {
        text-align: center;
    }
    .main-header {}
    .main-form input {
        width: 66%;
        margin: auto;
    }

    .main-form {
      padding: 5%;
      padding-top: 7.5%;
      padding-bottom: 7.5%;
      width: 50%;
    }
}
