@import 'https://fonts.googleapis.com/css?family=Open+Sans';
* {
    box-sizing: border-box;
}

body {
    background: darkgray;
    font-size: 10px;
    font-family: sans-serif;
    margin: 0;
}

.faq {
    border-radius: 4px;
    border: 1px solid black;
    padding: 1.5em;
    box-shadow: 1px 1px 10px 1px black;
}

.main-section {
    position: absolute;
    border: 1px solid grey;
    background: white;
    border-radius: 4px;
}

.main-form {
    position: absolute;
    border: 1px solid grey;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.main-form input {
    display: block;
}

.container {
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 100vh;
    background: grey;
}

.titulo {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    text-align: center;
    background: dodgerblue;
    color: white;
    width: 10em;
    padding: 1%;
    font-family: sans-serif;
    font-size: 2em;
    border-radius: 4px;
}

.main-form .input-text {
    margin-bottom: 0.33em;
    height: 2.33em;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid dodgerblue;
}

.main-form .input-text:hover {
    border: 1px solid royalblue;
}

.main-form .submit-button {
    background: dodgerblue;
    border-radius: 4px;
    border: 1px solid dodgerblue;
    height: 2.75em;
    font-size: 1em;
    color: white;
    font-weight: bold;
}

.main-form .submit-button:hover {
    background: royalblue;
}

.main-nav a:hover {
    background: #DDDDDD;
}

.main-nav a {
    background: #EEEEEE;
    color: grey;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    border: 1px solid black;
}

.main-nav {
    position: fixed;
}

.olvide-password {
    display: block;
    margin: auto;
    margin-top: 1em;
    overflow: hidden;
}

.olvide-password a {
    text-decoration: none;
    color: black;
    float: left;
    font-size: 1em;
}

.recordame-container {
    margin: 1em auto;
    overflow: hidden;
}

.inner-form {
    overflow: hidden;
}

.recordame-container label {
    float: left;
}

.recordame-container span {
    float: left;
    width: 2em;
}

.olvide-password a:hover {
    color: grey;
}

@media (max-width: 769px) {
    body {
        font-size: 14px;
    }
    .main-form input {
        margin: auto;
        width: 100%;
    }
    .main-form {
        padding: 10%;
        padding-top: 7.5%;
        padding-bottom: 7.5%;
        width: 90%;
    }
    .main-section {
        top: 33%;
        max-width: 80%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .main-nav {
        display: block;
        top: 100%;
        left: 50%;
        overflow: hidden;
        transform: translate(-50%, -100%);
        width: 100%;
    }
    .main-nav a {
        float: left;
        width: 50%;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    .titulo-interno {
        display: none;
    }
    .main-form {
        padding-top: 7.5%;
    }
    .olvide-password {
      width: 100%;
    }
    .recordame-container {
        width: 100%;
    }
}

@media (max-height: 490px) {
    .main-form {
        top: 0;
        transform: translate(-50%, 0%);
    }
    .titulo {
        display: none;
    }

}

@media (min-width: 770px) {
    .main-section {
        top: 20%;
        max-width: 80%;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
    }
    .faqs-section {
        padding: 3em;
    }
    .faqs-section article {
        margin-bottom: 1.5em;
    }
    .titulo-interno {
        border: 1px solid dodgerblue;
        display: block;
        width: 150%;
        margin-top: 0;
        text-align: center;
        background: dodgerblue;
        color: white;
        width: 100%;
        padding: 1%;
        font-family: sans-serif;
        font-size: 3em;
    }
    .titulo {
        display: none;
    }
    .links-holder {
        margin: auto;
        width: 50%;
        overflow: hidden;
        align-content: center;
        box-shadow: 0px 0px 10px 0px;
        border-radius: 0px 0px 6px 6px;
    }
    .main-nav a {
        display: inline-block;
        width: 25%;
        float: left;
        padding: 1.5em;
        text-align: center;
        text-decoration: none;
        font-weight: bolder;
        border: 1px solid black;
        display: inline-block;
    }
    .main-nav {
        width: 100%;
        left: 0;
    }
    .container {
        position: relative;
        overflow: hidden;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-nav ul {
        text-align: center;
    }
    .main-form input {
        width: 66%;
        margin: auto;
    }
    .inner-form {
        overflow: hidden;
        padding: 0 5% 7.5% 5%;
    }
    .main-form {
        width: 50%;
    }

    .olvide-password {
      width: 66%;
    }
    .recordame-container {
        width: 66%;
    }
}
